/* Lightwood
* Author : edgar
*/
::selection {
	background-color: rgba(169,139,94,.4);
}
header {
	background-image: url('img/lightwood2.png');
	background-blend-mode: soft-light;
	background-color: #6f5c3f;
	color: white;
}
.login-body {
	background-image: url('img/lightwood.jpg');
	background-size: cover
}
.centered .paper1 {
	position: absolute;
	background-image: url("img/lightwood2.png");
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.2);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.centered .paper2 {
	position: absolute;
	background-image: url("img/lightwood2.png");
	background-color: rgba(255,255,255,.9);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: rotate(2deg);
}
#login-box .icn {
	color: #a98b5e;
}
#login-box .input div i {
	background-color: #caa670;
}
#login-box {
	background-image: url("img/lightwood2.png");
	background-size: cover;
}
.menu-horizontal li a {
	color: white;
}
a {
	color: #6f5c3f;
}
a:hover {
	color: #463926;
}
.sidebar {
	background-image: url('img/lightwood.jpg');
	background-color: #927c58;
}
.name-part {
	color: #e74c3c;
}
.name-part h2 {
	color: black;
	text-shadow: 0px 0px 0px rgba(255,255,255,.5);
}
.list-menu li a {
	color: rgba(0,0,0,.8);
}
.list-menu.level-two {
	background-color: rgba(0,0,0,.2);
}
.current {
	background-color: rgba(0,0,0.3);
	border-left: 3px solid #3498db;
}
.content {
	background-image: url('img/lightwood2.png');
	background-color: #ecf0f1;
}
.header h1 {
	color: #6f5c3f;
}
.search .input-text {
	color: #6f5c3f;
	border-bottom: 2px solid #6f5c3f;
}
.search .btn {
	background-color: #6f5c3f;
}
.search .btn:hover {
	background-color: #2d81b9;
}
.search .btn:active {
	transform: none;
	background-color: #2871a2;
}
.contain.card {
	background-color: rgba(255,255,255,.9);
	border-top: 3px solid #6f5c3f;
}
.titling {
	color: #2c3e50;
}
.titling::after {
	background-color: #f1c40f;
}
.date {
	background-color: #ecf0f1;
	color: #2c3e50;
}
.date span {
	color: #c0392b;
}





/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: #bdc3c7;
}
::-webkit-scrollbar-thumb {
	background-color: #6f5c3f;
}
::-webkit-scrollbar-button {
	background-color: #2c3e50;
	display: none;
}
::-webkit-scrollbar-corner {
	background-color: black;
}